* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white-color: #efefef;
    --light-gray-color: #d9d9d9;
    --gray-color: #616161;
    --graphite-color: #212121;
    --black-color: #121212;
    --yellow-color: #e6e646;
    --red-color: #dc143c;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
--- CABEÇALHO E BARRA DE NAVEGAÇÃO ---
*/
div.top a,
div.mid-header a,
div.top i,
div.mid-header i,
h1.logo {
    color: var(--white-color);
}

div.top {
    background-color: var(--graphite-color);
    padding: 2px 0;
}

div.top a {
    font-size: 14px;
}

div.top span a {
    color: var(--yellow-color);
}

div.top i,
div.mid-header i {
    margin-right: 5px;
    font-size: 18px;
}

div.bg-mid-header {
    background-color: var(--gray-color);
    padding: 16px 0;
}

form.search-bar,
.mid-header .btn a  {
    border: 1px solid var(--white-color);
    border-radius: 20px;
}

form.search-bar {
    width: 40%;
}

form.search-bar input {
    width: 100%;
    padding: 6px 12px;
    background-color: transparent;
    font-size: 16px;
}

form.search-bar input,
form.search-bar input::placeholder {
    color: var(--white-color);
}

form.search-bar button {
    background-color: transparent;
    cursor: pointer;
}

form.search-bar button i {
    font-size: 26px;
}

.mid-header .btn a {
    margin-left: 16px;
    padding: 5px 8px;
}

.mid-header .btn a:hover {
    border-color: var(--red-color);
    background-color: #212121;
    transition: 500ms;
}

.mid-header .btn a:hover i,
form.search-bar button:hover i {
    color: var(--red-color);
    transition: 500ms;
}

.btn a i {
    transform: translateY(2px);
}

.btn span {
    background-color: var(--red-color);
    border-radius: 10px;
    padding: 0 5px;
    text-align: center;
    font-size: 12px;
    color: var(--white-color);
    transform: translatey(-12px);
}

div.nav-bar,
ul.submenu {
    background-color: var(--graphite-color);
}

div.nav-bar li {
    list-style: none;
    width: 150px;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
    border-right: 1px solid var(--gray-color);
    position: relative;
}

ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
}

ul.submenu li {
    border-bottom: 1px solid var(--light-gray-color);
    padding: 8px 0;
}

ul.submenu li,
div.nav-bar li.menu {
    border-left: 1px solid var(--gray-color);
    width: 250px;
    color: var(--white-color);
}

div.nav-bar li a {
    color: var(--white-color);
}

div.nav-bar li.menu i {
    margin: 0 10px;
    font-size: 22px;
}

div.nav-bar li:hover {
    background-color: var(--red-color);
}

div.nav-bar li:hover,
div.nav-bar li:hover a {
    transition: 500ms;
}

ul.nav-menu {
    justify-content: flex-start;
}

div.nav-bar li:hover .submenu {
    display: block;
}
/*
--- CONTEUDO PRINCIPAL ---
--- Section: SOBRE ---
*/
section.sobre {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    column-gap: 1%;
    margin-top: 52px;
    border-bottom: 2px solid var(--light-gray-color);
}

section.sobre img {
    max-width: 600px;
    width: 100%;
}

div.marcas {
    max-width: 610px;
    margin: 0 5px;
}

div.marcas h4 {
    color: var(--graphite-color);
    border-bottom: 3px solid var(--graphite-color);
    margin-bottom: 16px;
}

div.slider img {
    max-width: 100px;
    border-radius: 50%;
    border: 2px solid var(--graphite-color);
}

.slider button.slick-next.slick-arrow {
    display: none;
}

div.marcas .texto {
    margin: 52px 0;
}

div.marcas .texto h2 {
    margin-bottom: 32px;
    font-size: 38px;
    font-style: italic;
}

div.marcas .texto p {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 28px;
}
/*
--- Section: PROMOÇÕES ---
*/



@media screen and (max-width: 1080px) {
    .container {
        max-width: 100%;
    }
    div.marcas .texto {
        margin: 22px 0;
    }
    div.marcas .texto p {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 20px;
    }
}