* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white-color: #efefef;
    --light-gray-color: #d9d9d9;
    --gray-color: #616161;
    --graphite-color: #212121;
    --black-color: #121212;
    --yellow-color: #e6e646;
    --red-color: #dc143c;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
--- CABEÇALHO E BARRA DE NAVEGAÇÃO ---
*/
div.top a,
div.mid-header a,
div.top i,
div.mid-header i,
h1.logo {
    color: var(--white-color);
}

div.top {
    background-color: var(--graphite-color);
    padding: 2px 0;
}

div.top a {
    font-size: 14px;
}

div.top span a {
    color: var(--yellow-color);
}

div.top i,
div.mid-header i {
    margin-right: 5px;
    font-size: 18px;
}

div.bg-mid-header {
    background-color: var(--gray-color);
    padding: 16px 0;
}

form.search-bar,
.mid-header .btn a  {
    border: 1px solid var(--white-color);
    border-radius: 20px;
}

form.search-bar {
    width: 40%;
}

form.search-bar input {
    width: 100%;
    padding: 6px 12px;
    background-color: transparent;
    font-size: 16px;
}

form.search-bar input,
form.search-bar input::placeholder {
    color: var(--white-color);
}

form.search-bar button {
    background-color: transparent;
    cursor: pointer;
}

form.search-bar button i {
    font-size: 26px;
}

.mid-header .btn a {
    margin-left: 16px;
    padding: 5px 8px;
}

.mid-header .btn a:hover {
    border-color: var(--red-color);
    background-color: #212121;
    transition: 500ms;
}

.mid-header .btn a:hover i,
form.search-bar button:hover i {
    color: var(--red-color);
    transition: 500ms;
}

.btn a i {
    transform: translateY(2px);
}

.btn span {
    background-color: var(--red-color);
    border-radius: 10px;
    padding: 0 5px;
    text-align: center;
    font-size: 12px;
    color: var(--white-color);
    transform: translatey(-12px);
}

div.nav-bar,
ul.submenu {
    background-color: var(--graphite-color);
}

div.nav-bar li {
    list-style: none;
    width: 150px;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
    border-right: 1px solid var(--gray-color);
    position: relative;
}

ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
}

ul.submenu li {
    border-bottom: 1px solid var(--light-gray-color);
    padding: 8px 0;
}

ul.submenu li,
div.nav-bar li.menu {
    border-left: 1px solid var(--gray-color);
    width: 250px;
    color: var(--white-color);
}

div.nav-bar li a {
    color: var(--white-color);
}

div.nav-bar li.menu i {
    margin: 0 10px;
    font-size: 22px;
}

div.nav-bar li:hover {
    background-color: var(--red-color);
}

div.nav-bar li:hover,
div.nav-bar li:hover a {
    transition: 500ms;
}

ul.nav-menu {
    justify-content: flex-start;
}

div.nav-bar li:hover .submenu {
    display: block;
}
/*
--- CONTEUDO PRINCIPAL ---
--- Section: SOBRE ---
*/
section {
    padding: 32px 0;
    border-bottom: 2px solid var(--light-gray-color);
}

section.sobre {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    column-gap: 1%;
}

section.sobre img {
    max-width: 600px;
    width: 100%;
}

div.marcas {
    max-width: 610px;
    margin: 0 5px;
}

div.marcas h4 {
    color: var(--graphite-color);
    border-bottom: 3px solid var(--graphite-color);
    margin-bottom: 16px;
}

div.slider img {
    max-width: 100px;
    border-radius: 50%;
    border: 2px solid var(--graphite-color);
}

.slider button.slick-next.slick-arrow {
    display: none;
}

div.marcas .texto {
    margin: 52px 0;
}

div.marcas .texto h2 {
    margin-bottom: 32px;
    font-size: 38px;
    font-style: italic;
}

div.marcas .texto p {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 28px;
}
/*
--- Section: PROMOÇÕES ---
*/
section.promocoes h2,
section.colecoes h2 {
    font-size: 48px;
    color: var(--red-color);
    border-bottom: 3px solid var(--graphite-color)
}

section.promocoes h3,
section.colecoes h3 {
    margin-bottom: 22px;
    color: var(--graphite-color);
}

section.promocoes p#aviso {
    width: 100%;
    text-align: center;
    background-color: var(--yellow-color);
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--graphite-color);
}

.box-produtos {
    display: grid;
    grid-template-columns: 80% 20%;
}

.lista-produtos {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    list-style: none;
}
/*
--- Cards: PRODUTOS ---
*/
.card-produto {
    padding: 5px;
    max-width: 243px;
    height: 495px;
    text-align: center;
}

.card-produto img,
.card-produto h4,
.card-produto p,
.card-produto button {
    width: 100%;
    margin-bottom: 5px;
}

.card-produto h4 {
    font-size: 18px;
}

.card-produto p {
    font-size: 14px;
}

.card-produto del {
    font-size: 12px;
    text-decoration: line-through;
}

.card-produto span {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-left: 50px;
}

.card-produto select  {
    width: 50%;
    margin-left: 16px;
    border: 1px solid var(--light-gray-color);
    border-radius: 3px;
    text-align: center;
    margin-bottom: 5px;
}

.card-produto button {
    margin-top: 20px;
    background-color: var(--red-color);
    color: var(--white-color);
    cursor: pointer;
}

.card-produto button#btn-like {
    width: 15%;
    font-size: 18px;
    padding: 7px 0;
}

.card-produto button#btn-add-cart {
    width: 84%;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
}

.card-produto button:hover {
    background-color: rgb(158, 14, 42);
}
/*
--- Menu Lateral: FILTROS ---
*/
form.menu-lateral p {
    text-align: center;
    background-color: var(--light-gray-color);
    font-weight: 700;
    font-size: 20px;
    padding: 8px 0;
    letter-spacing: 1px;
}

form.menu-lateral,
form.menu-lateral #preco_minimo,
form.menu-lateral #preco_maximo,
.menu-lateral div.container-flex {
    padding: 8px;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

form.menu-lateral p,
form.menu-lateral strong,
.menu-lateral div.container-flex {
    margin: 10px 0;
}

.menu-lateral div.container-flex button {
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}

form.menu-lateral strong,
form.menu-lateral label {
    width: 100%;
    display: block;
}

form.menu-lateral label {
    cursor: pointer;
}
/*
--- Section: INFO cards and list ---
*/
section.info1 {
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    column-gap: 2%;
}
section.info2 {
    display: none;
}

section.info1 .info-card {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--light-gray-color);
    color: var(--gray-color);
    padding: 10px;
    border: 2px solid var(--black-color);
    border-radius: 5px;
}

section.info1 .info-card i {
    font-size: 40px;
    text-align: center;
    transform: translateY(10px);
}

.info-card .texto {
    border-left: 2px solid var(--black-color);
    padding-left: 15px;
    font-size: 14px;
}
/*
--- Section: COLECOES ---
*/
section.colecoes {
    border-bottom: none;
}

div.box-colecoes {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    column-gap: 2%;
    row-gap: 2%;
}

div.box-colecoes .card-colection {
    background-color: var(--light-gray-color);
    color: var(--gray-color);
    text-align: center;
}

div.box-colecoes .card-colection h4 {
    color: var(--graphite-color);
    font-size: 22px;
    padding: 10px 0;
}

div.box-colecoes .card-colection p {
    font-size: 14px;
    padding: 5px;
}

div.box-colecoes .card-colection img {
    max-width: 400px;
    width: 100%;
}

div.box-colecoes .card-colection a {
    width: 100%;
    display: block;
    background-color: var(--red-color);
    padding: 10px 0;
    font-weight: bold;
    color: var(--light-gray-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*
--- FOOTER ---
*/
footer {
    background-color: var(--gray-color);
    border-top: 10px solid var(--graphite-color);
}

footer .container {
    display: grid;
    grid-template-columns: 39% repeat(3, 19%);
    column-gap: 1%;
    margin-top: 15px;
    padding-bottom: 15px;
}

footer .local {
    text-align: center;
}

footer .local h5 {
    font-size: 26px;
    color: var(--light-gray-color);
    padding: 20px 0;
}

@media screen and (max-width: 1080px) {
    .container {
        max-width: 98%;
    }
    div.marcas .texto {
        margin: 22px 0;
    }
    div.marcas .texto p {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 20px;
    }
    .card-produto {
        height: 530px;
    }
    .card-produto select  {
        margin: 0;
    }
    .card-produto span{
        margin-left: 0;
    }
    .card-produto .container-flex {
        flex-direction: column;
    }
    .card-produto button#btn-like,
    .card-produto button#btn-add-cart {
        margin: 2px 0;
        width: 100%;
    }
    .card-produto button#btn-like {
        margin-top: 10px;
    }
    section.info1 {
        display: none;
    }
    section.info2 {
        display: block;
    }
    section.info2 ul {
        width: 30%;
        margin: 0 auto;
    }
    section.info2 li {
        justify-content: flex-start;
        align-items: center;
        padding: 5px 0;
    }

    section.info2 li i {
        font-size: 30px;
    }
}